<p ng-show="loading" class="message bg-info">Cargando datos...</p>

<p ng-show="deleted" class="message bg-success">Registro eliminado.</p>

<div class="detail-box" ng-hide="deleted">
  <h3>
    Detalle de Cliente
    
    <span class="pull-right">
      <a ng-href="#/clientes/{{client._id}}/modificar" class="btn btn-xs btn-warning">Modificar</a>
      <button class="btn btn-xs btn-danger" ng-click="handleDeleteClick()">Eliminar</button>
    </span>
  </h3>
  
  <div class="row">
    <div class="col-md-3">
      Nombre
    </div>
    <div class="col-md-9">
      <strong>{{ client.name }}</strong>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Tel&eacute;fono
    </div>
    <div class="col-md-9">
      {{ client.phoneNumber }}
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Direcci&oacute;n
    </div>
    <div class="col-md-9">
      {{ client.address }}
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Fecha de nacimiento
    </div>
    <div class="col-md-9">
      {{ client.birthday | momentFmt: 'LL' }}
    </div>
  </div>
</div>