<h1>
  Clientes
</h1>

<client-navbar active="'listado'"></client-navbar>

<div class="toolbar well" style="padding: 5px; margin: 20px 0 10px 0">
  <a class="btn btn-default btn-sm btn-success" href="#/clientes/nuevo">
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  </a>
</div>

<entity-table
  resource-name="clients"
  table-columns="tableColumns"
  default-order="name"
  page-count-limit="appSettings.pageCountLimit"
  on-entity-click="handleClientClick($entity)">
</entity-table>