<h1>
  Empleados
  <a class="btn btn-primary pull-right" href="#/empleados/nuevo">Nuevo</a>
</h1>

<entity-table
  resource-name="employees"
  table-columns="tableColumns"
  default-order="name"
  page-count-limit="appSettings.pageCountLimit"
  on-entity-click="handleEmployeeClick($entity)">
</entity-table>