<style>
td .btn {
  margin-left: 10px;
}
</style>

<p ng-show="deleted" class="message bg-success">Registro eliminado.</p>

<div class="detail-box">
  <h3 class="print-hidden">
    Detalle de Empleado
    
    <span class="pull-right">
      <a ng-href="#/empleados/{{employee._id}}/modificar" class="btn btn-xs btn-warning">Modificar</a>
      <button class="btn btn-xs btn-danger" ng-click="handleDeleteClick()">Eliminar</button>
    </span>
  </h3>
  
  <div class="row">
    <div class="col-md-3">
      Nombre
      <span class="print-show">
        de Empleado
      </span>
    </div>
    <div class="col-md-9">
      <strong>{{ employee.name }}</strong>
    </div>
  </div>
  
  <div class="row print-hidden">
    <div class="col-md-3">
      Tel&eacute;fono
    </div>
    <div class="col-md-9">
      {{ employee.phoneNumber }}
    </div>
  </div>
  
  <div class="row print-hidden">
    <div class="col-md-3">
      Direcci&oacute;n
    </div>
    <div class="col-md-9">
      {{ employee.address }}
    </div>
  </div>
  
  <div class="row print-hidden">
    <div class="col-md-3">
      Fecha de nacimiento
    </div>
    <div class="col-md-9">
      {{ employee.birthday | momentFmt: 'LL' }}
    </div>
  </div>
</div>

<h3>
  Servicios realizados
  <small class="print-show">
    {{ dateRange.from | momentFmt:'ll':'DDD' }}
    &mdash;
    {{ dateRange.to | momentFmt:'ll':'DDD' }}
  </small>
</h3>

<div class="form-horizontal print-hidden">
  <div class="form-group" style="margin:20px 0">
    <label class="col-md-2 control-label">
      Desde
    </label>
    <div class="col-md-3">
      <input type="date" class="form-control" ng-model="dateRange.from">
    </div>
    
    <label class="col-md-2 control-label">
      Hasta
    </label>
    <div class="col-md-3">
      <input type="date" class="form-control" ng-model="dateRange.to">
    </div>
  </div>
</div>

<table class="table products-sold-list">
  <thead>
    <tr>
      <th>Hora</th>
      <th>Comanda</th>
      <th>Servicio</th>
      <th>Precio (Bs.)</th>
      <th>Comisi&oacute;n (%)</th>
      <th>Descuento (Bs.)</th>
      <th>Comisi&oacute;n (Bs.)</th>
      <th>Cancelado</th>
    </tr>
  </thead>
  
  <tbody ng-repeat="lineGroup in receiptLinesByDay | orderBy:'_id'" style="border-bottom:20px solid white">
    <tr class="active">
      <td colspan="8">
        <strong>{{ lineGroup._id | momentFmt:'ll':'DDD'}}</strong>
      </td>
    </tr>
    
    <tr ng-repeat="line in lineGroup.lines">
      <td>
        {{ line.createdAt | momentFmt: 'HH:mm' }}
      </td>
      
      <td>
        <a ng-href="#/comandas/{{ line.receiptId }}">
          {{ line.receipt.code }}
        </a>
      </td>
      
      <td>
        <a ng-href="#/productos/{{ line.productId }}">
          {{ line.product.name }}
        </a>
      </td>
      
      <td class="text-right">
        {{ line.price | currency:'' }}
      </td>
      
      <td class="text-right">
        {{ line.commissionRate * 100 | number:2 }}
        
        <button class="btn btn-warning btn-xs print-hidden" ng-click="inputCommissionRate(line)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
      
      <td class="text-right">
        {{ line.commissionDiscount | number:2 }}
        
        <button class="btn btn-warning btn-xs print-hidden" ng-click="inputCommissionDiscount(line)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
      
      <td class="text-right">
        {{ getLineCommissionValue(line) | currency:'' }}
      </td>
      
      <td class="text-right">
        <input type="checkbox" class="print-hidden" ng-model="line.remunerated" ng-change="inputRemunerated(line)">
        
        <span class="print-show">
          {{ line.remunerated ? 'SI' : 'NO' }}
        </span>
      </td>
    </tr>
    
    <tr class="info">
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td class="text-right">{{ getPriceTotal(lineGroup) | currency:'' }}</td>
      <td></td>
      <td></td>
      <td class="text-right">{{ getSalesCommissionTotal(lineGroup) | currency:'' }}</td>
      <td></td>
    </tr>
  </tbody>
  
</table>