<p ng-show="loading" class="message bg-info">Cargando datos...</p>

<p ng-show="failed" class="message bg-danger">No se pudieron cargar los datos.</p>

<table class="table table-hover entity-table" ng-hide="loading || failed">
  <thead>
    <tr>
      <th ng-class="{'clickable': !col.noOrder}"
        ng-repeat="col in tableColumns"
        ng-click="setOrd(col)">
        
        {{ col.name }}
        
        <span class="glyphicon glyphicon-sort-by-attributes"
          ng-show="orderKey === col.key && orderAsc"></span>
        
        <span class="glyphicon glyphicon-sort-by-attributes-alt"
          ng-show="orderKey === col.key && !orderAsc"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable entity-row"
      ng-repeat="entity in entities"
      ng-click="entityClick(entity)">
      
      <td ng-repeat="col in tableColumns">
        {{ entity[col.key] }}
      </td>
      
    </tr>
  </tbody>
</table>

<nav class="text-right">
  <ul class="pagination">
    <li ng-class="{'disabled': currentPage === 0}">
      <a class="clickable" ng-click="prevPage()">&laquo;</a>
    </li>
    
    <li ng-repeat="i in getPageArray() track by $index"
      ng-class="{'active': $index===currentPage}">
      
      <a class="clickable" ng-click="goToPage($index)">{{ $index + 1 }}</a>
      
    </li>
    
    <li ng-class="{'disabled': currentPage + 1 === totalPages}">
      <a class="clickable" ng-click="nextPage()">&raquo;</a>
    </li>
  </ul>
</nav>