<p ng-hide="product.$resolved" class="message bg-info">Cargando datos...</p>

<p ng-show="deleted" class="message bg-success">Registro eliminado.</p>

<div class="detail-box" ng-hide="deleted">
  <h3>
    Detalle de Producto
    
    <span class="pull-right">
      <a ng-href="#/productos/{{product._id}}/modificar" class="btn btn-xs btn-warning">Modificar</a>
      <button class="btn btn-xs btn-danger" ng-click="handleDeleteClick()">Eliminar</button>
    </span>
  </h3>
  
  <div class="row">
    <div class="col-md-3">
      Nombre
    </div>
    <div class="col-md-9">
      <strong>{{ product.name }}</strong>
    </div>
  </div>
</div>