<h1>
  Productos
  <a class="btn btn-primary pull-right" href="#/productos/nuevo">Nuevo</a>
</h1>

<entity-table
  resource-name="products"
  table-columns="tableColumns"
  default-order="name"
  page-count-limit="appSettings.pageCountLimit"
  on-entity-click="handleProductClick($entity)">
</entity-table>