<h1>
  Comandas
  <a class="btn btn-primary pull-right" href="#/comandas/nuevo">Nuevo</a>
</h1>

<style>
td:nth-child(4) {
  text-align: right;
}
</style>

<entity-table
  resource-name="receipts"
  preprocess="preprocessReceipt"
  table-columns="tableColumns"
  default-order="-createdAt"
  page-count-limit="appSettings.pageCountLimit"
  on-entity-click="handleReceiptClick($entity)">
</entity-table>