<h1>
  Nueva Comanda
</h1>

<script type="text/ng-template" id="client-editor-modal.html">
  <div class="modal-header">
    <h3>Nuevo Cliente</h3>
  </div>
  <div class="modal-body">
    <client-editor
      client="client"
      on-save="onSave()"
      on-cancel="onCancel()">
    </client-editor>
  </div>
</script>

<p ng-show="sending" class="message bg-warning">Guardando cambios. Por favor aguarde.</p>

<p ng-show="success" class="message bg-success">Cambios guardados exitosamente.</p>

<form role="form" name="form" ng-submit="handleSubmit()" ng-hide="loading || submitted" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" ng-class="{'has-error':form.code.$invalid}">
        <label>Numeraci&oacute;n</label>
        <input type="number" min="1" class="form-control" name="code" ng-model="receipt.code" required autofocus>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <label>Fecha y hora</label>
        <input type="datetime-local" class="form-control" tabindex="1" ng-model="receipt.createdAt">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label>Cliente</label>
    <div class="row">
      <div class="col-md-5" ng-class="{'has-error':form.client.$invalid}">
        <entity-selector
          name="client"
          ng-model="receipt.clientId"
          prefetch-url="/api/clients"
          output-key="_id" display-key="name"
          required>
        </entity-selector>
      </div>
      
      <div class="col-md-1">
        <button type="button" class="btn btn-info form-control"
          tabindex="1" title="Nuevo cliente"
          ng-click="showClientEditor()"
          ng-disabled="receipt.clientId">
          
          <span class="glyphicon glyphicon-user"></span>
        </button>
      </div>
    </div>
  </div>
  
  <hr>
  
  <h3>
    Servicios
    <button type="button" class="pull-right btn btn-primary btn-sm" tabindex="1" ng-click="handleLineAddClick()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </h3>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Servicio</th>
        <th>Empleado</th>
        <th width="10%">Precio</th>
        <th width="1%"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="line in lines">
        <td ng-class="{'has-error': form['productId'+$index].$invalid}">
          <entity-selector
            name="productId{{$index}}"
            inner-class="input-sm"
            ng-model="line.productId"
            prefetch-url="/api/products"
            output-key="_id" display-key="name"
            required>
          </entity-selector>
        </td>
        
        <td ng-class="{'has-error': form['employeeId'+$index].$invalid}">
          <entity-selector
            name="employeeId{{$index}}"
            inner-class="input-sm"
            ng-model="line.employeeId"
            prefetch-url="/api/employees"
            output-key="_id" display-key="name"
            required>
          </entity-selector>
        </td>
        
        <td ng-class="{'has-error': form['price'+$index].$invalid}">
          <input type="number" name="price{{$index}}"
            class="form-control input-sm"
            ng-model="line.price" min="0" required>
        </td>
        
        <td>
          <button type="button" class="btn btn-link btn-sm" tabindex="1" ng-click="handleLineDeleteClick($index, line)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      
      <tr class="danger" ng-show="form.$error.noLines">
        <td colspan="4" class="text-center">
          La comanda debe contener al menos un servicio.
          <button type="button" class="btn btn-link btn-xs" ng-click="handleLineAddClick()">Adicionar uno</button>
        </td>
      </tr>
      
      <tr class="info">
        <td><strong>Total</strong></td>
        <td></td>
        <td>Bs. {{ getLinesTotal() }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <div style="text-align:right">
    <button type="button" class="btn btn-link" tabindex="1" ng-click="handleCancelClick()">Cancelar</button>
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Guardar</button>
  </div>
</form>