<p ng-show="loading" class="message bg-info">Cargando datos...</p>

<p ng-show="deleted" class="message bg-success">Registro eliminado.</p>

<div class="detail-box" ng-hide="deleted">
  <h3>
    Detalle de Comanda
    
    <span class="pull-right">
      <button class="btn btn-xs btn-danger" ng-click="handleDeleteClick()">Eliminar</button>
    </span>
  </h3>
  
  <div class="row">
    <div class="col-md-3">
      N&uacute;mero
    </div>
    <div class="col-md-9">
      <strong>{{ receipt.code }}</strong>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Cliente
    </div>
    <div class="col-md-9">
      <a ng-href="#/clientes/{{ receipt.client._id }}">
        {{ receipt.client.name }}
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      Fecha y hora
    </div>
    <div class="col-md-9">
      {{ receipt.createdAt | momentFmt: 'lll' }}
    </div>
  </div>
</div>

<h3>Servicios</h3>

<table class="table products-sold-list">
  <thead>
    <tr>
      <th>Servicio</th>
      <th>Empleado</th>
      <th>Precio (Bs.)</th>
    </tr>
  </thead>
  <tbody>
    <tr class="product-sold"
      ng-repeat="line in receiptLines">
      
      <td>{{ line.product.name }}</td>
      <td>
        <a ng-href="#/empleados/{{ line.employee._id }}">
          {{ line.employee.name }}
        </a>
      </td>
      <td class="text-right">{{ line.price | currency:'' }}</td>
      
    </tr>
    
    <tr class="info">
        <td><strong>Total</strong></td>
        <td></td>
        <td class="text-right">{{ getLinesTotal() | currency:'' }}</td>
      </tr>
  </tbody>
</table>