<p ng-show="sending" class="message bg-warning">Guardando cambios. Por favor aguarde.</p>

<p ng-show="success" class="message bg-success">Cambios guardados exitosamente.</p>

<form role="form" name="form" ng-submit="handleSubmit()" ng-hide="loading || submitted" novalidate>
  <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
    <label class="control-label">Nombre</label>
    
    <input type="text" class="form-control" name="name" ng-model="employee.name" required autofocus>
  </div>
  
  <div class="form-group" ng-class="{'has-error': form.phoneNumber.$invalid}">
    <label class="control-label">Tel&eacute;fono</label>
    
    <input type="text" class="form-control" name="phoneNumber" ng-model="employee.phoneNumber" ng-pattern="/^[ 0-9]+$/">
    
    <span class="help-block" ng-show="form.phoneNumber.$error.pattern">
      Un n&uacute;mero telef&oacute;nico debe contener s&oacute;lo n&uacute;meros y espacios.
    </span>
  </div>
  
  <div class="form-group" ng-class="{'has-error': form.address.$invalid}">
    <label class="control-label">Direcci&oacute;n</label>
    
    <input type="text" class="form-control" name="address" ng-model="employee.address">
  </div>
  
  <div class="form-group" ng-class="{'has-error': form.birthday.$invalid}">
    <label class="control-label">Fecha de nacimiento</label>
    
    <input type="date" class="form-control" name="birthday" ng-model="employee.birthday">
    
    <span class="help-block" ng-show="form.birthday.$error.date">
      Una fecha debe tener el formato AAAA-MM-DD.
    </span>
  </div>
  
  <div class="text-right">
    <button type="button" class="btn btn-link" ng-click="handleCancelClick()">Cancelar</button>
    
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine">Guardar</button>
  </div>
</form>