<p ng-show="sending" class="message bg-warning">Guardando cambios. Por favor aguarde.</p>

<p ng-show="success" class="message bg-success">Cambios guardados exitosamente.</p>

<form role="form" name="form" ng-submit="handleSubmit()" ng-hide="editing && !product.$resolved || submitted" novalidate>
  <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
    <label class="control-label">Nombre</label>
    
    <input type="text" class="form-control" name="name" ng-model="product.name" required autofocus>
  </div>
  
  <div class="text-right">
    <button type="button" class="btn btn-link" ng-click="handleCancelClick()">Cancelar</button>
    
    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || form.$pristine">Guardar</button>
  </div>
</form>